body{
    background-color: #1A202C;
    color: #EEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1{
    font-size: 5em;
    font-weight: 500;
    margin-bottom: 25px;
}

.main > p{
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5;
    max-width: 26em;
}

.icons{
    padding-right: 50px;
    padding-top: 20px;
}

.icon{
    height: 32pt;
    width: 32pt;
    padding-right: 10px;
    transition: all 0.3s ease-in-out;
}

.icon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


#twitter-icon{
    transition: all 0.3s ease-in-out;
}

#twitter-icon:hover{
    fill: #1DA1F2;
}

#mal-icon{
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    padding-left: 8px;
    transition: all 0.3s ease-in-out;
}

#mal-icon:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    fill: #2e51a2;
}

#steam-icon{
    transition: all 0.6s ease-in-out;
}

#steam-icon:hover{
    fill: #c5c3c0;
    -webkit-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}

.link-p{
    color: white;
    text-decoration: none;
    font-weight: 400;

    background-image: linear-gradient(to bottom, #9b59b6 100%, transparent 100%);
    background-size: auto 5px;
    background-repeat: no-repeat;
    background-position: bottom;

    transition: background-size 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
}

.link-p:hover{
    text-decoration: none;
    color: white;
    background-size: auto 100%;
}

footer{
    margin-top:9%;
}

a{
    color: #9b59b6;
}

a:hover{
    color: #70196B;
    text-decoration: none;
}
